* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./image/purple.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.box{
  position: absolute;
  top:55%;
  left:53%;
  transform: translate(-50%,-50%);
  
}

.box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #e94560 ;
  border-right: 5px solid #e94560;
  transform: rotate(45deg);
  margin: -2px;
  animation: animate 2s infinite;
  
}

.box span:nth-child(1){
  animation-delay: .2s;
  transform: rotate(45 deg) translate(-20px,-20px);
}
.box span:nth-child(2){
  animation-delay: .2s;
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: rotate(45 deg) translate(-20px,-20px)
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45 deg) translate(-20px,-20px)
  }
}

.btmimg {
  height: 50%;
}


html {
  height: 100%;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Dashboard  page */

.color {
  color: white;
  background-color: rgb(79, 6, 79);

  text-align: center;

}

.fontstyle1 {
  font-size: 65px;
  font-weight: bold;
  color: white;
}

.fontstyle2 {
  font-size: 20px;
  color: white;
}

.fontstyle3 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #e94560;
}

.fontstyle4 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(66, 66, 66);
}

.fontstyle5 {
  font-size: 65px;
  font-weight: bold;
  color: #e94560;
}

.bgcolor {
  background-color: rgb(92, 33, 92);
}


.rowht {
  min-height: 100px;
}

.skillimgrowht {
  min-height: 50px;
}


.fbimg1 {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* Project page */

.card {
  width: 45 rem;
  height: 20rem;
  transition: transform .2s;
}

.card:hover {
  background-color: #e94560;
  color: white;
  transform: scale(1.1)
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.fbimg1:hover {
  background-color: white;
  border-radius: 50%;
}

/* nav bar */

.navlinkblog{
  border-bottom: 3px solid #e94560;
}


.navlink{
  border: none;
}

.navlink:focus {
  border-bottom: 2px solid #e94560;

}

.navlinkaresume {
  border: 2px solid #e94560;
  border-radius: 5px;
  width: 75px;
  text-align: center;
}

.navlinkaresume:hover {
  background-color: #e94560;
  color: white
}

.navbarbg {
  background-color: rgb(61, 7, 83);
  color: black;
}

/* login page */

.name:hover {
  color: #e94560;
  cursor: pointer;
}

/* image zoom */
.Zoom {

  overflow: hidden;
  margin: 0 auto;
}

.Zoom img {

  transition: 0.5s all ease-in-out;
}

.Zoom:hover img {
  transform: scale(1.1);
}

.skillimage {
  width: 50px;
  height: 45px;
  transition: transform .2s;
  /* Animation */
}

.skillimage1 {
  width: 35px;
  height: 35px;
  transition: transform .2s;
  /* Animation */
}



.skillimage:hover {
  transform: scale(1.5);
}

.skillimagetext {
  font-size: 16px;
  color: white;
}

.programmerimg {
  width: 50%;
  height: 50%;
}

h5{
  display:"inline-block";
  margin-Left:"25%"
}

video{
  border: 5px solid #e94560;
}

.gitimg{
  background-color: white;
  border-radius: 50%;
  
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.gitimg:hover{
  background-color: #e94560;
  border-radius: 50%;
}

.a{
  text-decoration: none;
color: black;
}